@mixin i900 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

@mixin i800 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

@mixin i500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

@mixin i400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

@mixin i300 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}